p {
  font-family: "Muli", sans-serif;
  color: #46494d;
}

a {
  font-family: "Muli", sans-serif;
  color: #46494d;
}

h1,
h2 {
  font-family: "Muli", sans-serif;
  color: #46494d;
  /* letter-spacing: -5px; */
}

h3 {
  font-family: "Muli", sans-serif;
  color: #46494d;
  /* letter-spacing: -5px; */
}

body {
  height: 100%;
  background: url("ak_bg.png");
  background-color: #46494d;
  background-attachment: fixed;
  padding-top: 110px;
  padding-bottom: 55px;
}

nav {
  background-color: #9dac41;
  height: 100px;
  border-width: 2px;
  border-style: none none solid none;
  border-color: #46494d;
}

img {
  border-width: 1px;
  border-style: solid;
  border-color: #46494d;
}

.card {
  background-color: #82c4c1;
  border-width: 2px;
  border-style: solid;
  border-color: #46494d;
  padding: 25px 40px 25px 25px;
  margin: 0px 0px 10px 0px;
}

.card-title {
  padding-top: 15px;
}

.card-text {
  padding: 0px 0px 10px 0px;
}

.form-group {
  color: #46494d;
}

.form-control {
  background-color: #e3e4e4;
}

/* .btn {
  background-color: #82c4c1;
} */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  padding-top: 7px;
  background-color: #46494d;
  text-align: center;
  border-width: 2px;
  border-style: solid none none none;
  border-color: #82c4c1;
}
